---
import Section from "../Section.astro";
import { PADDING_STANDARD_COMPACT_X } from "../../utils/spacing";
import Button from "../Button.astro";

interface Props {
  heading: string;
  subheading?: string;
  ctaText?: string;
  ctaLink?: string;
  backgroundImage?: string;
}

const { heading, subheading, ctaText, ctaLink, backgroundImage } = Astro.props;

const backgroundStyle = backgroundImage
  ? `background-image: url(${backgroundImage}); background-size: cover; background-position: center;`
  : "";
---

<Section
  className={`${PADDING_STANDARD_COMPACT_X} bg-brand-primaryDark text-white relative flex items-center`}
  containerClassName="container mx-auto max-w-6xl"
  style={backgroundStyle}
>
  {backgroundImage && <div class="absolute inset-0 bg-brand-primary/70" />}
  <div class="relative z-10">
    <h1
      class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold mb-4 break-words"
    >
      {heading}
    </h1>
    {
      subheading && (
        <p class="text-lg sm:text-xl md:text-2xl break-words">{subheading}</p>
      )
    }
    {
      ctaText && ctaLink && (
        <Button href={ctaLink} variant="white">
          {ctaText}
        </Button>
      )
    }
  </div>
</Section>
